/* Support Button */
.eesy-tab2-container {
    transform: rotate(90deg);
    right: 25px;
    bottom: 50%;
}

.eesy-tab2.eesy-tab2-btn {
    max-width: unset;
    opacity: 1;
    border-radius: 0px 0px 4px 4px;
    width: 110px;
    height: 25px;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0);
    background-color: #df5654;
    transition: background-color 0.3s ease-in-out 0s;
}

.eesy-tab2.eesy-tab2-btn:hover {
    background-color: #cc0000;
}

.eesy-tab2-btn-text {
    opacity: 1;
    visibility: visible;
    font-weight: 500;
}

.eesy-tab2-btn-icon {
    display: none;
}

.eesy-tab2-btn-text {
    padding-top: 0px;
    margin-left: 24px;
    margin-right: 24px;
    font-family: "Open Sans",sans-serif;
}

/* Support Center */
.embed-HtmlCode {
    width: 800px !important;
}

.eesy__modal-scope .layout__header {
  background-color: #B8B9BB !important;
}

.eesy__modal-scope .section.___primary {
  background-color: #B8B9BB !important;
} 

.eesy__modal-scope .header__close:before {
  color: white !important;
}

.eesy__modal-scope .header__back:before {
  color: white !important;
}

.eesy__modal-scope .filter__category {
  background-color: #cc0000 !important;
}

.eesy__modal-scope .filter__category.___is-selected {
  background-color: #fff !important;
  color: #B8B9BB !important;
}

.eesy__modal-scope .header__search:before {
  color: #333333 !important;
}


.eesy__modal-scope .contact__button {
  border-style: solid !important;
  border-color: #cc0000 !important;
  border-width: 1px !important;
  color: #cc0000 !important;
}

.eesy__modal-scope .contact__button.___email:after {
  color: #cc0000 !important;
  font-size: 17.0625px !important;
}

.eesy__modal-scope .contact__button.___call:after {
  color: #cc0000 !important;
  font-size: 24.375px !important;
}

.eesy__modal-scope .contact__button.___chat:after {
  color: #cc0000 !important;
  font-size: 24.375px !important;
}

.eesy__modal-scope .eesy__footer {
  background-color: #333333 !important;
}

/* messaging */

div[id^="systraycontainer"] {
    margin-left: -60px;
}

.eesy_container_v2 .eesy_header,
.eesy_container_v2 .eesy_systray_header,
.eesy_container_v2 .eesy_hint_header {
    color: #cc0000;
    }

.eesy_container_v2 .eesy_standard_hide,
.eesy_container_v2 .eesy_systray_hide,
.eesy_container_v2 .eesy_hint_hide,
.eesy_container_v2 .eesy_hintfixed_dontshowanymore {
    color: #cc0000;
    border-color:  #cc0000;
    }

.eesy_container_v2 .eesy_close,
.eesy_container_v2 .eesy_systray_close,
.eesy_container_v2 .eesy_hint_close {
    background: #cc0000;
}

.eesy_container_v2 .eesy_close:hover,
.eesy_container_v2 .eesy_systray_close:hover,
.eesy_container_v2 .eesy_hint_close:hover {
    border-color: #cc0000;
}

.eesy_container_v2 .eesy_close:hover .eesy_close_text,
.eesy_container_v2 .eesy_systray_close:hover .eesy_systray_close_text,
.eesy_container_v2 .eesy_hintfixed_close:hover .eesy_hintfixed_close_text,
.eesy_container_v2 .eesy_hint_close:hover .eesy_hint_close_text {
    color: #cc0000;
}

.eesy_container_v2 .eesy_standard_hide:hover,
.eesy_container_v2 .eesy_systray_hide:hover,
.eesy_container_v2 .eesy_hint_hide:hover,
.eesy_container_v2 .eesy_hintfixed_dontshowanymore:hover {
    background: #cc0000;
}